@use "../global" as *;

.l-header {
  max-width: 1400px;
  padding: 10px 120px;
  @include tab {
    width: 92%;
    padding: 10px 4%;
  }
  height: 55px;
  border-bottom: 2px solid #ffffff;
  background-color: #1b1310;
  &__menu {
    max-width: $inner1;
    @include tab {
      width: 100%;
    }
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 7px 0;
    li {
      padding: 11px 0 0 55px;
      &:first-of-type {
        padding: 11px 0 0 41px;
      }
      > a {
        @include f_style(14, bold, 21, 0);
      }
    }
  }
}
