@use "../global" as *;

.p-article {
  max-width: $inner2;
  margin: 0 auto;
  &:nth-of-type(1) {
    margin-top: 110px;
  }
  &:nth-of-type(2) {
    margin-top: 178px;
  }
  &:nth-of-type(3) {
    margin-top: 156px;
  }
  h2 {
    text-align: center;
  }
  h3 {
    margin-top: 73px;
  }
  p {
    margin-top: 26px;
  }
  &__2colum {
    &1 {
      display: flex;
      &-left {
        margin-top: 78px;
      }
      &-right {
        margin-top: 17px;
        margin-left: 70px;
      }
    }
    &2 {
      display: flex;
      &-left {
        h3 {
          margin-top: 54px;
        }
        margin-bottom: 5px;
        margin-right: 70px;
      }
      &-right {
        margin-top: 47px;
      }
    }
  }
  &__3card {
    display: flex;
    &-1 {
      margin-top: 75px;
      margin-left: 33px;
      width: 33%;
      border: 1px solid #707070;
      &:nth-of-type(1) {
        margin-left: 0px;
      }
      p {
        padding: 17px 31px 25px 34px;
        margin-top: 0;
        @include f_style(13, medium, 25, 50);
      }
    }
  }
}
