@use "../global" as *;

.p-article {
  max-width: $inner2;
  margin: 0 auto;
  margin-top: 110px;
  h2 {
    text-align: center;
  }
  h3 {
    margin-top: 73px;
  }
  p {
    margin-top: 26px;
  }
}
